<div *ngIf="pokemons$ | async as pokemons; else loading">
    <accordion [isAnimated]="true" [closeOthers]="true" *ngFor="let pokemon of pokemons.results">       
        <accordion-group [heading]="pokemon.name" >
            <app-pokemon  [urlPokemon]="pokemon.url" (click)="openModal(pokemonDetail)"></app-pokemon>
        </accordion-group>
    </accordion>
</div>
<ng-template #loading>
    <span>Carregando...</span>
</ng-template>

<ng-template #pokemonDetail >
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ pokemonSelected?.name }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngIf="1 == 1">
        <carousel>
            <slide>
              <img [src]="pokemonSelected.sprites.front_default" alt="first slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </slide>
            <slide>
                <img [src]="pokemonSelected.sprites.front_shiny" alt="Second slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </slide>
              <slide>
                <img [src]="pokemonSelected.sprites.back_shiny" alt="Thirt slide" style="display: block; width: 100%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </slide>  
            <slide>
              <img [src]="pokemonSelected.sprites.back_default" alt="Forty slide" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </slide>            
          </carousel>
          <h5>Abilities</h5>
            <div class="abilities" *ngFor="let abil of pokemonSelected.abilities">
            <li>{{ abil.ability.name }}</li>
            </div>  
            <br>
           <h5>Base Experience: </h5> 
           <li>{{ pokemonSelected.base_experience }}</li>  
           <br>  
           <h5>Stats</h5>
            <div class="stats" *ngFor="let stat of pokemonSelected.stats">
            <li>{{ stat.stat.name }} : {{ stat.base_stat }}</li>
            </div> 
            <br>
            <h5>Type</h5>
            <div class="types" *ngFor="let type of pokemonSelected.types">
            <li>{{ type.type.name }}</li>
            </div>     
    </div>
  </ng-template>